server:
  port: 8000
spring:
  datasource:
    url: jdbc:mysql://127.0.1:3306/snow?characterEncoding=utf8&useSSL=false
    username: root
    password: 123456
    driverClassName: com.mysql.jdbc.Driver
    type: com.alibaba.druid.pool.DruidDataSource
  liquibase:
        enabled: true
        change-log: "classpath:liquibase/change_log/index.xml"
        contexts: dev